<div class="row">
  <div class="col-lg-4">
    <a routerLink="/newp">
      <div class="card-panel teal">
        <span class="white-text">
          <h4>
            Add New Patient
          </h4>

          <p>
            Add a new patient and proceed to create a report for them
          </p>
        </span>
      </div>
    </a>
  </div>

  <div class="col-lg-4">
    <a routerLink="/allp">
      <div class="card-panel teal">
        <span class="white-text">
          <h4>
            View All Patients
          </h4>

          <p>
            Edit patients' information, add new reports<br>
            Search for a patient
          </p>
        </span>
      </div>
    </a>
  </div>

  <div class="col-lg-4">
    <a routerLink="/allr">
      <div class="card-panel teal">
        <span class="white-text">
          <h4>
            View All Reports
          </h4>

          <p>
            View all reports<br>
            Search through reports<br>
          </p>
        </span>
      </div>
    </a>
  </div>

  <div class="col-lg-4">
    <a routerLink="/tests">
      <div class="card-panel teal">
        <span class="white-text">
          <h4>
            Tests
          </h4>

          <p>
            View tests<br>
            Create new tests &amp; panels<br>
          </p>
        </span>
      </div>
    </a>
  </div>
</div>